{
  "arrowParens": "always",
  "printWidth": 80,
  "proseWrap": "preserve",
  "tabWidth": 2,
  "trailingComma": "all",
  "semi": false,
  "singleQuote": false,
  "endOfLine": "lf",
  "bracketSpacing": true
}
